<mat-grid-list cols="3">
    <div class="first-grid">
        <mat-grid-tile colspan=1 rowspan=1>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <strong><br>
                            <font size="+2">Configure Experiment 1/2 <br> <br></font>
                        </strong>
                    </mat-card-title>
                </mat-card-header>
                <mat-form-field appearance="fill" >
                    <mat-label>Experiment Name</mat-label>
                    <input matInput [(ngModel)]="expName">
                </mat-form-field>

                
                <mat-form-field appearance="fill">
                    <mat-label>Choose dataset</mat-label>
                    <mat-select [(value)]="chosenDataset">
                        <div *ngFor="let option of listofdata">
                            <mat-option value={{option.dataid}}>{{option.dataname}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>

                
                <mat-radio-group [(ngModel)]="chosenType" (change)="this.mtype()">
                    <mat-radio-button value="classification">Classification</mat-radio-button>
                    <mat-radio-button value="regression">Regression</mat-radio-button>
                </mat-radio-group>


                <mat-form-field>
                    <mat-select placeholder="Select Models" [(value)]="selectedModels" multiple>
                        <mat-option *ngFor="let model of modelList" value={{model.value}}>{{model.model}}</mat-option>
                    </mat-select>
                </mat-form-field>



                <button mat-raised-button color="primary" (click)="this.proceed($event)">Proceed</button>
            </mat-card>
        </mat-grid-tile>
    </div>
    <div class="Second-grid" *ngIf="show_part2">
        <mat-grid-tile colspan=2 rowspan=1>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <strong><br>
                            <font size="+2">Configure Experiment 2/2 <br> <br></font>
                        </strong>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </div>
</mat-grid-list>