<div class="grid-container">
  <h1 class="mat-h1">Datasets Details</h1>
  <mat-grid-list cols="2" rowHeight="190px">

    <mat-grid-tile colspan=1 rowspan=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <strong><br><font size="+2">Upload Data <br> <br></font></strong>
          </mat-card-title>
        </mat-card-header>

        <div class="container">
              <label for="formFile" class="form-label"></label>
              <input (change)="onFilechange($event)" class="form-control" type="file" id="formFile">
               <button mat-raised-button color="primary" (click)="this.upload()">Upload</button>
              
        </div>

      </mat-card>
    </mat-grid-tile>

  <mat-grid-tile colspan=1 rowspan=4>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <strong><font size="+2">Available Datasets </font></strong>
          </mat-card-title>
        </mat-card-header>
        <div class="table-responsive">
        <table mat-table [dataSource]="datasets_source" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Dataset </th >
            <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> FIle Size </th>
            <td mat-cell *matCellDef="let element"> {{element.file_size}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> FIle Type </th>
            <td mat-cell *matCellDef="let element"> {{element.file_type}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Upload Time </th>
            <td mat-cell *matCellDef="let element"> {{element.upload_time}} </td>
          </ng-container>

          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef> UserId </th>
            <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
